
/* ----------index---------- */

.post{
    padding: 8px;
}

.reaction{
    border-top: 1px solid #DEDFE2;
    border-bottom: 1px solid #DEDFE2;
    margin-bottom: 20px;
    
}



.reaction_display{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.reaction_input{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-top: 1px solid #DEDFE2;


}


.message_input{
    width: 100%;
    border-radius: 30px;
    padding-left: 10px;
    background-color: #F2F3F5;
    color: #9CA1A9;
    padding: 8px;
    margin-bottom: 16px;
    outline: none;
}


.message{
    padding: 16px;
}


.require{
    display: flex;
}


/* ----------log in---------- */


.login_page{

    margin: 0 auto;
}